/* .navigation is class */
.navigation{ 
    height: 72px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .navigation ul{
    display: flex;
    align-items: center;
    gap: 24px;
    
  }

  .navigation ul li{
    font-weight: bolder;
    list-style: none;
  }