.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url("../../assets/naruto.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;

}

/* Center and style the hero text */
.hero-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

/* Hero Heading */
.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Hero Paragraph */
.hero-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
    opacity: 0.9;
}

/* Button Styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff6347; /* Tomato color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Hover Effect for Button */
.btn:hover {
    background-color: #b1b12b; /* Darker Tomato color */
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(201, 143, 36, 0.3);
    color: rgb(255, 255, 255);
}

span{
    margin-left: 10px;
    color: black;
}